{% extends "partials/layout-admin.twig" %}

{% block content %}
    <h1>Tous les utilisateurs</h1>

    <div class="card">
        <div class="card-body">
            
        </div>
    </div>
{% endblock %}