// out: ../css/admin.css, compress: true

@import "_vars";

/* General */

body { color: @font-color; }

    // Typography
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 { color: @font-color; margin-bottom: 15px; }
h1, .h1 { font-size: 2.2rem; }
h2, .h2 { font-size: 1.8rem; }
h3, .h3 { font-size: 1.6rem; }
h4, .h4 { font-size: 1.4rem; }
.page-header { border-bottom: none; }

    // Buttons
.btn {
    border-radius: 1px;
}

pre {
    background: #ccc;
    padding: 15px;
}

#page-wrapper {
    background: @background-color;
}
