// out: ../css/app.css

/**
 * Slim3 Starter MVC
 * 
 * Version: 0.0.1
 * Authors: Dezodev
**/

// Variables
@background-color: #e4e4e4;
@font-color: #333;


/** General
**========================**/

body {
    background: @background-color; color: @font-color;
}